<div class="card">
    <div class="card-body"><form name="myForm">
            <div class="row" style="padding-bottom: 1%;">
                <div class="col-md-1" style="padding-right: 0%;">Location Id*:</div>
                <div class="col-md-2" style="padding-left: 0%;">
                    <input type="text" (keyup)= "onIdKeyUp($event)" required />
                </div>
                <div class="col-md-1" style="padding-right: 0%;">Sort:</div>
                <div class="col-md-1" style="padding-left: 0%;">
                    <select id="sorts">
                        <option value="MID">MID</option>
                        <option value="SUN">SUN</option>
                        <option value="DAY">DAY</option>
                        <option value="TWI">TWI</option>
                      </select>
                </div>
                <div class="col-md-1" style="padding-right: 0%;">DateTime:</div>
                <div class="col-md-2" style="padding-left: 0%;">
                    <input type="text" />
                </div>
                <div class="col-md-1">
                    <input type="button" (click)="getCommentsByParameter()" value="Submit"/>
                </div>
            </div>
          </form>
        <div class="table-responsive">
            <table class="table" *ngIf="lstDetails">
                <thead>
                    <tr>
                        <th>Load Origin</th>
                        <th>Trailer Prefix</th>
                        <th>Trailer Number</th>
                        <th colspan="3">Next Load Point List(NLPId:NLPCount)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let detail of lstDetails">
                        <td>{{detail.loadOirigin}}</td>
                        <td>{{detail.trailerPrefix}}</td>
                        <td>{{detail.trailerNmbr}}</td>
                        <td *ngFor='let nextloadpoint of detail.NextLoadPointList'>
                            {{nextloadpoint.nlpId}}:{{nextloadpoint.nlpCount}}
                        </td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
