<div class="card">
    <div class="card-body">
            <div class="row" style="padding-bottom: 1%;">
                <div class="col-md-1" style="padding-right: 0%;">Location Id*:</div>
                <div class="col-md-2" style="padding-left: 0%;">
                    <input type="text" (keyup)= "onIdKeyUp($event)" />
                </div>
                <div class="col-md-1">
                    <button (click)="getCommentsByParameter()">Submit</button>
                </div>
            </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>UserId</th>
                        <th>Title</th>
                        <th>Body</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let post of lstPosts">
                        <td>{{post.id}}</td>
                        <td>{{post.userId}}</td>
                        <td>{{post.title}}</td>
                        <td>{{post.body}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
