<div class="card">
    <div class="card-body">
        <form ng-submit="">
        <div class="row" style="padding-bottom: 1%;">
            <div class="col-md-2" style="padding-right: 0%;">Location Id*:</div>
            <div class="col-md-2" style="padding-left: 0%;">
                <input type="text"/>
            </div>
        </div>
        <div class="row" style="padding-bottom: 1%;">
            <div class="col-md-2" style="padding-right: 0%;">SORT:</div>
            <div class="col-md-2" style="padding-left: 0%;">
                <select id="sorts" style="width: 3cm;">
                    <option value="mid">MID</option>
                    <option value="sun">SUN</option>
                    <option value="day">DAY</option>
                    <option value="twi">TWI</option>
                </select>
            </div>
        </div>
        <div class="row" style="padding-bottom: 1%;">
            <div class="col-md-2" style="padding-right: 0%;">Date-Time:</div>
            <div class="col-md-2" style="padding-left: 0%;">
                <input type="text"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <input type="submit" class="btn btn-primary" />
            </div>
        </div>
        </form>
    </div>
</div>